@font-face {
  font-family: 'ptsans';
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ptsans';
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'ptsans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #eeeeee;
  background-position: top center;
  background-repeat: no-repeat;
}

img {
    max-width: 100%;
}

a {
  text-decoration: none;
}

.btn {
    font-family: 'ptsans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.header__nav {
    line-height: 26px;
    background-color: #fff;
}

.header__list {
    list-style: none;
}

.header__list a {
    text-decoration: none;
    color: #000000;
    font-family: 'ptsans', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.header__list a:hover,
.header__list a:focus {
    color: #81b3d2;
}


.welcome {
    text-align: center;
    background-image: url('../img/bg.jpg');
    background-color: #3a556a;
    background-position: top top;
    background-repeat: no-repeat;
}

.welcome::after {
    content: url('../img/shape.png');
}

.intro {
    text-align: center;
    background-color: #FFFFFF;
}

.intro__title {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.intro__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;

}

.advantages__desc {
    background-color: #81b3d2;
    color: #FFF;    
}

.feature {
    text-align: center;
    background-color: #FFFFFF;
}

.feature__list,
.feature2__list {
    list-style: none;
}

.feature__text {
    color: #333333;
}

.feature2 {
    text-align: center;
}

.interest {
    text-align: center;
    background-color: #FFFFFF;
    
}

.interest__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.interest__text {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    font-weight: 400;
}

.interest__btn {
    font-size: 21px;
    background-color: #766357;
}


.form {
    background-color: #FFFFFF;
}

.form__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.form__input {
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
}

.form__input::placeholder {
    color: #000000;
}

.find__btn {
    font-size: 21px;
    background-color: #81b3d2;
}

.footer {
    background-color: rgba(254,254,254, 0.9);
}

.footer__link {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.social {
    text-align: center; 
}

.social__list {
    list-style: none;
}

.copyright b {
    line-height: 26px;
}


/* hotels.html */

.filters {
    background-image: url('../img/bg-h.jpg');
    background-color: #4378a2;
    background-position: top left;
    background-repeat: no-repeat;
    color: #FFFFFF;
}

.filters__set,
.filters__pay {
    border: 0;
}

.filters__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
}

.filters__btn {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background: transparent;
}

.hotel {
    background-color: #fefefe;
}

.hotel__found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel__filters {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.hotel__link {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.hotel__link--active {
    color: #81b3d2;
    border: 0;
}

 .hotel__filters a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.hotel__link:active {
    color:#000000;
    border: 0;
}

.hotel__head,
.hotel__item {
    border-bottom: 1px solid #e5e5e5;
}

.hotel__list {
    list-style: none;
}

.hotel__list .hotel__link-name{
    text-decoration: none;
    color: #000000;
    font-weight: 700;

}

.hotel__list a:hover,
.hotel__list a:focus {
    color: #81b3d2;
}

.hotel__list a:active {
    color: #000000;
}

.hotel__about-link {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #81b3d2;
}

.hotel__book-btn {
    font-weight: 700;
    color: #FFFFFF;
    background-color: #766357;
    border: 0;   
}
