@font-face {
    font-family: 'ptsans';
    src: url("../fonts/ptsans.woff2") format("woff2"),
           url("../fonts/ptsans.woff") format("woff");
    font-weight: 300;
    font-style: normal;
   }

@font-face {
font-family: 'ptsansbold';
src: url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
font-weight: 700;
font-style: bold;
}

body {
    background-color: #f1f1f1;
    font-family: 'ptsans', Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.25);
}


/* шапка */
.header {
    background-color: #FFFFFF;
    max-height: 55px;
}

.header__list {
    display: flex;
    justify-content: space-around;
}

.header__item {
    padding-top: 15px;
}

.header__link {
    font-family: 'ptsansbold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    line-height: 26px;
    letter-spacing: 1px;
}

.header__link:hover {
    color: #81b3d2;
}

.header__link:active {
    color: #cacaca;
}

.header__link--active {
    color: #766357;
}

/*  секция заглавной страницы */
.hero {
    background: url('../img/bg.jpg');
    background-position: left -95px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.hero__headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    margin-left: 35px;
}

.hero__welcome {
    padding-bottom: 10px;
}

.hero__sedona {
    padding: 65px;
}

.hero__canyon {
    padding-bottom: 17px;
}

.hero__shape {
    width: 100%;
}

/* небольшой абзац */
.description {
    background-color: #FFFFFF;
    height: 215px;
    width: 100%;
}

.description__text {
    text-align: center;
    padding: 50px;
}

.text__bold {
    font-size: 21px;
    font-family: 'ptsansbold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
    line-height: 26px;
    color: #000000;
}


.text__light {
    font-size: 14px;
    color: #333333;
    font-family: 'ptsans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 26px;
}